# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
build web nonstaging.zip
build web 29 02 2024.zip
build web/app-build-manifest.json
build web/app-path-routes-manifest.json
build web/BUILD_ID
build web/build-manifest.json
build web/export-marker.json
build web/images-manifest.json
build web/next-minimal-server.js.nft.json
build web/next-server.js.nft.json
build web/package.json
build web/prerender-manifest.js
build web/prerender-manifest.json
build web/react-loadable-manifest.json
build web/required-server-files.json
build web/routes-manifest.json
build web/trace
build web/cache/eslint/.cache_lb573y
build web/cache/webpack/client-production/0.pack
build web/cache/webpack/client-production/index.pack
build web/cache/webpack/server-production/0.pack
build web/cache/webpack/server-production/index.pack
build web/server/app-paths-manifest.json
build web/server/font-manifest.json
build web/server/middleware-build-manifest.js
build web/server/middleware-manifest.json
build web/server/middleware-react-loadable-manifest.js
build web/server/next-font-manifest.js
build web/server/next-font-manifest.json
build web/server/pages-manifest.json
build web/server/server-reference-manifest.js
build web/server/server-reference-manifest.json
build web/server/webpack-runtime.js
build web/server/app/favicon.ico.body
build web/server/app/favicon.ico.meta
build web/server/app/favicon.ico/route.js
build web/server/app/favicon.ico/route.js.nft.json
build web/server/chunks/271.js
build web/server/chunks/329.js
build web/server/chunks/500.js
build web/server/chunks/font-manifest.json
build web/server/pages/_app.js
build web/server/pages/_app.js.nft.json
build web/server/pages/_document.js
build web/server/pages/_document.js.nft.json
build web/server/pages/_error.js
build web/server/pages/_error.js.nft.json
build web/server/pages/404.html
build web/server/pages/500.html
build web/server/pages/il-software.html
build web/server/pages/il-software.js.nft.json
build web/server/pages/index.html
build web/server/pages/index.js.nft.json
build web/static/chunks/105-e62ec6f56df6528a.js
build web/static/chunks/343-583e1a13506d4801.js
build web/static/chunks/875-156cea07d0650c50.js
build web/static/chunks/fd9d1056-735d320b4b8745cb.js
build web/static/chunks/framework-452594291d5933d4.js
build web/static/chunks/main-36bb8627dc34cb0e.js
build web/static/chunks/main-app-8bd7e185e41e424d.js
build web/static/chunks/polyfills-c67a75d1b6f99dc8.js
build web/static/chunks/webpack-92ec0a5be4acd467.js
build web/static/chunks/pages/_app-98cb51ec6f9f135f.js
build web/static/chunks/pages/_error-e87e5963ec1b8011.js
build web/static/chunks/pages/il-software-630244c3c7431c42.js
build web/static/chunks/pages/index-05d45e1c358ad136.js
build web/static/css/816edab6358a8107.css
build web/static/css/35443d736aa2cfb0.css
build web/static/HxPL264p3LgByHCAmsc6y/_buildManifest.js
build web/static/HxPL264p3LgByHCAmsc6y/_ssgManifest.js
build web/static/media/ajax-loader.0b80f665.gif
build web/static/media/elemento-decorativo-home-1.5bbcc2e5.svg
build web/static/media/elemento-decorativo-ilsoftware-mobile-1.f1cc6915.svg
build web/static/media/Hamburger Menu Icon.e7f375bf.svg
build web/static/media/Logo Big BNW.1d3fcb74.svg
build web/static/media/Logo Big.96837e39.svg
build web/static/media/material-symbols_alternate-email.6cf6844c.svg
build web/static/media/material-symbols_chevron-right.dfcd9877.svg
build web/static/media/material-symbols_close.8891dd30.svg
build web/static/media/material-symbols_domain.3fad0ff4.svg
build web/static/media/material-symbols_location-on-outline.1a0d8705.svg
build web/static/media/material-symbols_phone-in-talk-outline.d7229193.svg
build web/static/media/Menu Pointer.da27e81b.svg
build web/static/media/Play.2841bb77.svg
build web/static/media/ri_linkedin-fill.00d5ef59.svg
build web/static/media/slick.6aa1ee46.ttf
build web/static/media/slick.653a4cbb.woff
build web/static/media/slick.25572f22.eot
build web/static/media/slick.f895cfdf.svg
build web/types/package.json
.env
