@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Secular+One&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Secular One', sans-serif;
}

.secular{
  font-family: 'Secular One', sans-serif;
}

.nunito{
  font-family: 'Nunito Sans', sans-serif;
}

.section{
  position: relative;
}

.anchor{
  left:0;
  top: -80px;
  position: absolute;
}

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

h3 {
  font-weight: 400;
}

h4 {
  font-weight: 400;
}

p.xl {
  font-weight: 200;
  margin-bottom: 8px;
}
p.l {
  font-weight: 300;
  margin-bottom: 12px;
}
p.m {
  font-weight: 300;
}
p.s {
  font-weight: 400;
}

button {
  font-weight: 400;
}

.caption {
  font-weight: 400;
}

.progetto h1{
  font-weight: 400;
  font-size: 64px;
  line-height: 120%;
}

.progetto h2{
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
}

.progetto h3{
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
}

.progetto h4{
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}

.ellipsis-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
}

.logo-container::before {
  content: "";
  margin-left: -40px;
  height: 2px;
  width: calc(100% + 20px);
  background: white;
  display: none;
}

.vertical-line-logo::before {
  content: "";
  position: absolute;
  margin-top: 24px;
  margin-left: 208px;
  width: 2px;
  height: 100%;
  background: white;
  display: none;
}

.horizontal-line-home-1::before{
  content: "";
  position: absolute;
  //margin-top: 20px;
  margin-left: 20px;
  margin-bottom: -20px;
  width: 100%;
  height: 2px;
  background: #508BB9;
  display: none;
}


.horizontal-line-home-2::before{
  content: "";
  position: absolute;
  //margin-top: 20px;
  margin-left: 20px;
  margin-top: -20px;
  width: 100%;
  height: 2px;
  background: #508BB9;
  display: none;
}

.vertical-line-home-1::before{
  content: "";
  position: absolute;
  //margin-top: 20px;
  //margin-left: 20px;
  //margin-top: -20px;
  width: 2px;
  height: 100%;
  background: #508BB9;
  display: none;
}

.vertical-line-contatti-1::before{
  content: "";
  position: absolute;
  //margin-top: 20px;
  //margin-left: 20px;
  //margin-top: -20px;
  width: 2px;
  height: 160px;
  margin-right: -2px;
  background: #F4F8F7;
  display: none;
}

@media (min-width: 1106px) {
  .logo-container::before {
    display: block;
  }
  .vertical-line-logo::before {
    display: block;
  }
  .horizontal-line-home-1::before {
    display: block;
  }
  .horizontal-line-home-2::before {
    display: block;
  }
  .vertical-line-contatti-1::before {
    display: block;
  }
}

/*BLOCKS*/

.is-layout-flex {
  display: flex;    
  //flex-wrap: wrap;
  gap: 24px;
}

.wordpress-content {
  display: flex;
  flex-direction: column;
  //gap: 16px;
}

.wordpress-content-short {
  display: inline;
}

.wordpress-container-short br {
  content: "\A";
  white-space: pre;
}

.wordpress-content ul{
  list-style-type: disc;
  ::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
}

.wordpress-content li{
  display: list-item;
}

.wordpress-content b{
  display: inline;
}

.wordpress-content .is-type-video{
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.wordpress-content .is-type-video.is-provider-youtube div{
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  aspect-ratio: 16 / 9;
}

.wordpress-content .is-type-video.is-provider-youtube div iframe {
  width: 100%;
  height: 100%;
}

.wordpress-content .wp-block-columns {
  margin-top: 12px;
}

.wordpress-content .wp-block-group  {
  margin-top: 12px;
}

.li-list-inside li{
  list-style-position: inside;
}

.wordpress-content ul {
  list-style-type: disc;
  padding-left: 24px;
}

/*
.wordpress-content ul li::before {
  content: ""; 
  display: inline-block;
  width: 2px; 
  height: 2px; 
  margin-right: 10px; 
  vertical-align: middle;
  background-color: black; 
  border-radius: 50%; 
}
*/

.slick-list, .slick-track, .slick-slide div {
  height: 100%;
}

.slick-dots li button:before{
  font-size: 12px !important;
}

.blocks-gallery-grid:not(.has-nested-images),.wp-block-gallery:not(.has-nested-images) {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0
}

.blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-image,.blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-item,.wp-block-gallery:not(.has-nested-images) .blocks-gallery-image,.wp-block-gallery:not(.has-nested-images) .blocks-gallery-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin: 0 1em 1em 0;
  position: relative;
  width: calc(50% - 1em)
}

.blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-image:nth-of-type(2n),.blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-item:nth-of-type(2n),.wp-block-gallery:not(.has-nested-images) .blocks-gallery-image:nth-of-type(2n),.wp-block-gallery:not(.has-nested-images) .blocks-gallery-item:nth-of-type(2n) {
  margin-right: 0
}

.blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-image figure,.blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-item figure,.wp-block-gallery:not(.has-nested-images) .blocks-gallery-image figure,.wp-block-gallery:not(.has-nested-images) .blocks-gallery-item figure {
  align-items: flex-end;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  margin: 0
}

.blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-image img,.blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-item img,.wp-block-gallery:not(.has-nested-images) .blocks-gallery-image img,.wp-block-gallery:not(.has-nested-images) .blocks-gallery-item img {
  display: block;
  height: auto;
  max-width: 100%;
  width: auto
}

.blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-image figcaption,.blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-item figcaption,.wp-block-gallery:not(.has-nested-images) .blocks-gallery-image figcaption,.wp-block-gallery:not(.has-nested-images) .blocks-gallery-item figcaption {
  background: linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);
  bottom: 0;
  box-sizing: border-box;
  color: #fff;
  font-size: .8em;
  margin: 0;
  max-height: 100%;
  overflow: auto;
  padding: 3em .77em .7em;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2
}

.blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-image figcaption img,.blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-item figcaption img,.wp-block-gallery:not(.has-nested-images) .blocks-gallery-image figcaption img,.wp-block-gallery:not(.has-nested-images) .blocks-gallery-item figcaption img {
  display: inline
}

.blocks-gallery-grid:not(.has-nested-images) figcaption,.wp-block-gallery:not(.has-nested-images) figcaption {
  flex-grow: 1
}

.blocks-gallery-grid:not(.has-nested-images).is-cropped .blocks-gallery-image a,.blocks-gallery-grid:not(.has-nested-images).is-cropped .blocks-gallery-image img,.blocks-gallery-grid:not(.has-nested-images).is-cropped .blocks-gallery-item a,.blocks-gallery-grid:not(.has-nested-images).is-cropped .blocks-gallery-item img,.wp-block-gallery:not(.has-nested-images).is-cropped .blocks-gallery-image a,.wp-block-gallery:not(.has-nested-images).is-cropped .blocks-gallery-image img,.wp-block-gallery:not(.has-nested-images).is-cropped .blocks-gallery-item a,.wp-block-gallery:not(.has-nested-images).is-cropped .blocks-gallery-item img {
  flex: 1;
  height: 100%;
  object-fit: cover;
  width: 100%
}

.blocks-gallery-grid:not(.has-nested-images).columns-1 .blocks-gallery-image,.blocks-gallery-grid:not(.has-nested-images).columns-1 .blocks-gallery-item,.wp-block-gallery:not(.has-nested-images).columns-1 .blocks-gallery-image,.wp-block-gallery:not(.has-nested-images).columns-1 .blocks-gallery-item {
  margin-right: 0;
  width: 100%
}

@media (min-width: 600px) {
  .blocks-gallery-grid:not(.has-nested-images).columns-3 .blocks-gallery-image,.blocks-gallery-grid:not(.has-nested-images).columns-3 .blocks-gallery-item,.wp-block-gallery:not(.has-nested-images).columns-3 .blocks-gallery-image,.wp-block-gallery:not(.has-nested-images).columns-3 .blocks-gallery-item {
      margin-right:1em;
      width: calc(33.33333% - .66667em)
  }

  .blocks-gallery-grid:not(.has-nested-images).columns-4 .blocks-gallery-image,.blocks-gallery-grid:not(.has-nested-images).columns-4 .blocks-gallery-item,.wp-block-gallery:not(.has-nested-images).columns-4 .blocks-gallery-image,.wp-block-gallery:not(.has-nested-images).columns-4 .blocks-gallery-item {
      margin-right: 1em;
      width: calc(25% - .75em)
  }

  .blocks-gallery-grid:not(.has-nested-images).columns-5 .blocks-gallery-image,.blocks-gallery-grid:not(.has-nested-images).columns-5 .blocks-gallery-item,.wp-block-gallery:not(.has-nested-images).columns-5 .blocks-gallery-image,.wp-block-gallery:not(.has-nested-images).columns-5 .blocks-gallery-item {
      margin-right: 1em;
      width: calc(20% - .8em)
  }

  .blocks-gallery-grid:not(.has-nested-images).columns-6 .blocks-gallery-image,.blocks-gallery-grid:not(.has-nested-images).columns-6 .blocks-gallery-item,.wp-block-gallery:not(.has-nested-images).columns-6 .blocks-gallery-image,.wp-block-gallery:not(.has-nested-images).columns-6 .blocks-gallery-item {
      margin-right: 1em;
      width: calc(16.66667% - .83333em)
  }

  .blocks-gallery-grid:not(.has-nested-images).columns-7 .blocks-gallery-image,.blocks-gallery-grid:not(.has-nested-images).columns-7 .blocks-gallery-item,.wp-block-gallery:not(.has-nested-images).columns-7 .blocks-gallery-image,.wp-block-gallery:not(.has-nested-images).columns-7 .blocks-gallery-item {
      margin-right: 1em;
      width: calc(14.28571% - .85714em)
  }

  .blocks-gallery-grid:not(.has-nested-images).columns-8 .blocks-gallery-image,.blocks-gallery-grid:not(.has-nested-images).columns-8 .blocks-gallery-item,.wp-block-gallery:not(.has-nested-images).columns-8 .blocks-gallery-image,.wp-block-gallery:not(.has-nested-images).columns-8 .blocks-gallery-item {
      margin-right: 1em;
      width: calc(12.5% - .875em)
  }

  .blocks-gallery-grid:not(.has-nested-images).columns-1 .blocks-gallery-image:nth-of-type(1n),.blocks-gallery-grid:not(.has-nested-images).columns-1 .blocks-gallery-item:nth-of-type(1n),.blocks-gallery-grid:not(.has-nested-images).columns-2 .blocks-gallery-image:nth-of-type(2n),.blocks-gallery-grid:not(.has-nested-images).columns-2 .blocks-gallery-item:nth-of-type(2n),.blocks-gallery-grid:not(.has-nested-images).columns-3 .blocks-gallery-image:nth-of-type(3n),.blocks-gallery-grid:not(.has-nested-images).columns-3 .blocks-gallery-item:nth-of-type(3n),.blocks-gallery-grid:not(.has-nested-images).columns-4 .blocks-gallery-image:nth-of-type(4n),.blocks-gallery-grid:not(.has-nested-images).columns-4 .blocks-gallery-item:nth-of-type(4n),.blocks-gallery-grid:not(.has-nested-images).columns-5 .blocks-gallery-image:nth-of-type(5n),.blocks-gallery-grid:not(.has-nested-images).columns-5 .blocks-gallery-item:nth-of-type(5n),.blocks-gallery-grid:not(.has-nested-images).columns-6 .blocks-gallery-image:nth-of-type(6n),.blocks-gallery-grid:not(.has-nested-images).columns-6 .blocks-gallery-item:nth-of-type(6n),.blocks-gallery-grid:not(.has-nested-images).columns-7 .blocks-gallery-image:nth-of-type(7n),.blocks-gallery-grid:not(.has-nested-images).columns-7 .blocks-gallery-item:nth-of-type(7n),.blocks-gallery-grid:not(.has-nested-images).columns-8 .blocks-gallery-image:nth-of-type(8n),.blocks-gallery-grid:not(.has-nested-images).columns-8 .blocks-gallery-item:nth-of-type(8n),.wp-block-gallery:not(.has-nested-images).columns-1 .blocks-gallery-image:nth-of-type(1n),.wp-block-gallery:not(.has-nested-images).columns-1 .blocks-gallery-item:nth-of-type(1n),.wp-block-gallery:not(.has-nested-images).columns-2 .blocks-gallery-image:nth-of-type(2n),.wp-block-gallery:not(.has-nested-images).columns-2 .blocks-gallery-item:nth-of-type(2n),.wp-block-gallery:not(.has-nested-images).columns-3 .blocks-gallery-image:nth-of-type(3n),.wp-block-gallery:not(.has-nested-images).columns-3 .blocks-gallery-item:nth-of-type(3n),.wp-block-gallery:not(.has-nested-images).columns-4 .blocks-gallery-image:nth-of-type(4n),.wp-block-gallery:not(.has-nested-images).columns-4 .blocks-gallery-item:nth-of-type(4n),.wp-block-gallery:not(.has-nested-images).columns-5 .blocks-gallery-image:nth-of-type(5n),.wp-block-gallery:not(.has-nested-images).columns-5 .blocks-gallery-item:nth-of-type(5n),.wp-block-gallery:not(.has-nested-images).columns-6 .blocks-gallery-image:nth-of-type(6n),.wp-block-gallery:not(.has-nested-images).columns-6 .blocks-gallery-item:nth-of-type(6n),.wp-block-gallery:not(.has-nested-images).columns-7 .blocks-gallery-image:nth-of-type(7n),.wp-block-gallery:not(.has-nested-images).columns-7 .blocks-gallery-item:nth-of-type(7n),.wp-block-gallery:not(.has-nested-images).columns-8 .blocks-gallery-image:nth-of-type(8n),.wp-block-gallery:not(.has-nested-images).columns-8 .blocks-gallery-item:nth-of-type(8n) {
      margin-right: 0
  }
}

.blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-image:last-child,.blocks-gallery-grid:not(.has-nested-images) .blocks-gallery-item:last-child,.wp-block-gallery:not(.has-nested-images) .blocks-gallery-image:last-child,.wp-block-gallery:not(.has-nested-images) .blocks-gallery-item:last-child {
  margin-right: 0
}

.blocks-gallery-grid:not(.has-nested-images).alignleft,.blocks-gallery-grid:not(.has-nested-images).alignright,.wp-block-gallery:not(.has-nested-images).alignleft,.wp-block-gallery:not(.has-nested-images).alignright {
  max-width: 420px;
  width: 100%
}

.blocks-gallery-grid:not(.has-nested-images).aligncenter .blocks-gallery-item figure,.wp-block-gallery:not(.has-nested-images).aligncenter .blocks-gallery-item figure {
  justify-content: center
}

.wp-block-gallery:not(.is-cropped) .blocks-gallery-item {
  align-self: flex-start
}

figure.wp-block-gallery.has-nested-images {
  align-items: normal
}

.wp-block-gallery.has-nested-images figure.wp-block-image:not(#individual-image) {
  margin: 0;
  width: calc(50% - var(--wp--style--unstable-gallery-gap, 16px)/2)
}

.wp-block-gallery.has-nested-images figure.wp-block-image {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  max-width: 100%;
  position: relative
}

.wp-block-gallery.has-nested-images figure.wp-block-image>a,.wp-block-gallery.has-nested-images figure.wp-block-image>div {
  flex-direction: column;
  flex-grow: 1;
  margin: 0
}

.wp-block-gallery.has-nested-images figure.wp-block-image img {
  display: block;
  height: auto;
  max-width: 100%!important;
  width: auto
}

.wp-block-gallery.has-nested-images figure.wp-block-image figcaption {
  background: linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);
  bottom: 0;
  box-sizing: border-box;
  color: #fff;
  font-size: 13px;
  left: 0;
  margin-bottom: 0;
  max-height: 60%;
  overflow: auto;
  padding: 0 8px 8px;
  position: absolute;
  text-align: center;
  width: 100%
}

.wp-block-gallery.has-nested-images figure.wp-block-image figcaption img {
  display: inline
}

.wp-block-gallery.has-nested-images figure.wp-block-image figcaption a {
  color: inherit
}

.wp-block-gallery.has-nested-images figure.wp-block-image.has-custom-border img {
  box-sizing: border-box
}

.wp-block-gallery.has-nested-images figure.wp-block-image.has-custom-border>a,.wp-block-gallery.has-nested-images figure.wp-block-image.has-custom-border>div,.wp-block-gallery.has-nested-images figure.wp-block-image.is-style-rounded>a,.wp-block-gallery.has-nested-images figure.wp-block-image.is-style-rounded>div {
  flex: 1 1 auto
}

.wp-block-gallery.has-nested-images figure.wp-block-image.has-custom-border figcaption,.wp-block-gallery.has-nested-images figure.wp-block-image.is-style-rounded figcaption {
  background: none;
  color: inherit;
  flex: initial;
  margin: 0;
  padding: 10px 10px 9px;
  position: relative
}

.wp-block-gallery.has-nested-images figcaption {
  flex-basis: 100%;
  flex-grow: 1;
  text-align: center
}

.wp-block-gallery.has-nested-images:not(.is-cropped) figure.wp-block-image:not(#individual-image) {
  margin-bottom: auto;
  margin-top: 0
}

.wp-block-gallery.has-nested-images.is-cropped figure.wp-block-image:not(#individual-image) {
  align-self: inherit
}

.wp-block-gallery.has-nested-images.is-cropped figure.wp-block-image:not(#individual-image)>a,.wp-block-gallery.has-nested-images.is-cropped figure.wp-block-image:not(#individual-image)>div:not(.components-drop-zone) {
  display: flex
}

.wp-block-gallery.has-nested-images.is-cropped figure.wp-block-image:not(#individual-image) a,.wp-block-gallery.has-nested-images.is-cropped figure.wp-block-image:not(#individual-image) img {
  flex: 1 0 0%;
  height: 100%;
  object-fit: cover;
  width: 100%
}

.wp-block-gallery.has-nested-images.columns-1 figure.wp-block-image:not(#individual-image) {
  width: 100%
}

@media (min-width: 600px) {
  .wp-block-gallery.has-nested-images.columns-3 figure.wp-block-image:not(#individual-image) {
      width:calc(33.33333% - var(--wp--style--unstable-gallery-gap, 16px)*.66667)
  }

  .wp-block-gallery.has-nested-images.columns-4 figure.wp-block-image:not(#individual-image) {
      width: calc(25% - var(--wp--style--unstable-gallery-gap, 16px)*.75)
  }

  .wp-block-gallery.has-nested-images.columns-5 figure.wp-block-image:not(#individual-image) {
      width: calc(20% - var(--wp--style--unstable-gallery-gap, 16px)*.8)
  }

  .wp-block-gallery.has-nested-images.columns-6 figure.wp-block-image:not(#individual-image) {
      width: calc(16.66667% - var(--wp--style--unstable-gallery-gap, 16px)*.83333)
  }

  .wp-block-gallery.has-nested-images.columns-7 figure.wp-block-image:not(#individual-image) {
      width: calc(14.28571% - var(--wp--style--unstable-gallery-gap, 16px)*.85714)
  }

  .wp-block-gallery.has-nested-images.columns-8 figure.wp-block-image:not(#individual-image) {
      width: calc(12.5% - var(--wp--style--unstable-gallery-gap, 16px)*.875)
  }

  .wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image) {
      width: calc(33.33% - var(--wp--style--unstable-gallery-gap, 16px)*.66667)
  }

  .wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image):first-child:nth-last-child(2),.wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image):first-child:nth-last-child(2)~figure.wp-block-image:not(#individual-image) {
      width: calc(50% - var(--wp--style--unstable-gallery-gap, 16px)*.5)
  }

  .wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image):first-child:last-child {
      width: 100%
  }
}

.wp-block-gallery.has-nested-images.alignleft,.wp-block-gallery.has-nested-images.alignright {
  max-width: 420px;
  width: 100%
}

.wp-block-gallery.has-nested-images.aligncenter {
  justify-content: center
}
